@model CraftBeerGallery.Models.Beer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
}

<h2>@Model.DisplayText</h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Beer Name:</label> @Model.BeerName</h5>
            <h5><label>Brewery:</label> @Model.Brewery</h5>
            <h5><label>Brewery Location:</label> @Model.BreweryLocation</h5>
            <h5><label>Style:</label> @Model.Style</h5>
            <h5><label>ABV:</label> @Model.ABV %</h5>
            <h5><label>Availability:</label> @Model.Availability</h5>
            <h5><label>Favorite:</label> @(Model.Favorite ? "Yes" : "No")</h5>
            <h5>Description:</h5>@Html.Raw(Model.DescriptionHtml)
            @if (Model.BeerAttributes.Length > 0)
            {
                <h5>Attributes:</h5>
                <div>
                    <ul>
                        @foreach (var attr in Model.BeerAttributes)
                        {
                            <li>Appearance: @attr.Appearance</li>
                            <li>Smell: @attr.Smell</li>
                            <li>Taste: @attr.Taste</li>
                            <li>Mouthfeel: @attr.Mouthfeel</li>
                            <li>Overall: @attr.Overall</li>
                        }
                    </ul>
                </div>
            }
        </div>

    </div>
    <div class="col-md-6">
        <img src="/Images/@Model.BeerImageFileName"
             alt="@Model.DisplayText" class="img-responsive" />
    </div>
</div>