@model CraftBeerGallery.Models.Beer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
}


<h1>@Model.BeerName</h1>
<h2>@Model.Brewery</h2>
<h4>@Model.BreweryLocation</h4>
<p><br /></p>
<div>
<h5><strong>Details:</strong></h5>
<p>Style: @Model.Style<br />
ABV: @Model.ABV %<br />
Availability: @Model.Availability</p>
<h5><strong>Description:</strong></h5>
<div>@Html.Raw(Model.DescriptionHtml)</div>

@if (Model.BeerAttributes.Length > 0)
{
    <h5>Attributes:</h5>
    <div>
        <ul>
            @foreach (var attr in Model.BeerAttributes)
            {
                <li>Appearance: @attr.Appearance</li>
                <li>Smell: @attr.Smell</li>
                <li>Taste: @attr.Taste</li>
                <li>Mouthfeel: @attr.Mouthfeel</li>
                <li>Overall: @attr.Overall</li>
            }
        </ul>
    </div>
}
</div>